body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding: 0 1.5rem 0;
  height: 64px;
}

.header h1 {
  margin: 0 auto;
  width: max-content;
  font-size: 3rem;
  color: #455a64;
  font-family: sans-serif;
}

.date-section {
  display: flex;
  align-items: center;
  padding: 5rem 0 0;
}

@media (max-width: 549px) {
  .date-section {
    flex-direction: column;
  }
}

.calendar {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 549px) {
  .calendar {
    width: 90%;
  }
}

table {
  border: 2px solid #455a64;
}

tr {
  border-bottom: none;
}

.daysOfWeek {
  background-color: #455a64;
}

td, th {
  text-align: center;
  width: 20px;
}

td {
  cursor: pointer;
}

.day-number:hover {
  background-color: #455a64;
}

.deleted {
  text-decoration: line-through;
}

.day-off {
  color: red
}

.date-picker {
  width: 25%;
  margin: 0 auto 50px;
}

@media (max-width: 549px) {
  .date-picker {
    width: 60%;
  }
}

.todo-list {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.todo-list > div > p {
  font-family: sans-serif;
  font-size: 1.5rem;
}

.add-button {
  font-family: sans-serif;
  background-color: #455a64;
  border: none;
  padding: 0.5rem;
  color: white;
  border: 1px solid #455a64;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.task-container {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 1rem;
  border-bottom: 1px solid #40c4ff;
  margin-bottom: 1rem;
  padding: 0 0 0.5rem 0;
  align-items: center;
}

.task-span {
  flex-grow: 1;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.task-input {
  height: 2rem;
}

.edit-button {
  background-color: #455a64;
  color: white;
  border: none;
  cursor: pointer;
  height: 2rem;
}